---
layout: post
title: Règles de confidentialité
---

<p>
	Nous nous engageons :
	<ul>
		<li>A ne pas générer de statistiques relatives à l'utilisation de nos applications.</li>
		<li>A ne pas collecter, de quelque manière que ce soit, des informations vous concernant.</li>
		<li>A ne pas faire appel à de tierces parties dans nos services pour éviter la fuite d'informations</li>
	</ul>
</p>

<p><b>Note :</b> Une exception à l'absence de collecte de données de l'application a été définie : les numéros des calendriers enregistrés sont automatiquement transmis à nos serveurs au moment de l'inscription afin de simplifier la maintenance de l'application. N'hésitez pas à nous contacter pour en savoir plus sur la raison cette collecte de données. Néanmmoins, ces informations collectées ne sont pas utiliser pour tracer nos utilisateurs, d'aucune manière que ce soit.</p>

<p>Certaines de nos applications demandent la permission d'utiliser la caméra, 
	mais celle-ci n'est utilisé que dans le cadre de la configuration desdites 
	applications et n'est utilisée à aucune autre fins.</p>