<footer>
    <div class="container">
        <ul class="list-inline">
            <li>
                <a href="{{site.baseurl}}privacy">Confidentialité</a>
            </li>
            <li>
                <a href="{{site.baseurl}}contact">Contact</a>
            </li>
            <li>
                <a href="{{site.baseurl}}license">Licence</a>
            </li>
        </ul>
        
        <br /><br />
        
        <p>&copy; 2016 theme by <a rel="nofollow" target="blank" href="https://startbootstrap.com/template-overviews/new-age/">Start Bootstrap</a> Built with <a target="_blank" rel="nofollow" href="https://jekyllrb.com/">Jekyll</a> by <a target="_blank" rel="nofollow" href="https://it.linkedin.com/in/antoniotrento">Antonio Trento</a> hosted on <a target="_blank" rel="nofollow" href="https://github.com/jekynewage/jekynewage.github.io">Github</a>. All Rights Reserved.</p>
    </div>
</footer>
