<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Téléchargez votre application d'emploi du temps</h2>
                
                <div class="app-lnk">
                    <p>Université Lyon 1 (Claude-Bernard) :</p>
                    <div class="badges">
                        <a class="badge-link" href="https://play.google.com/store/apps/details?id=org.communiquons.cal.lyon1">
                            <img src="{{site.baseurl}}img/google-play-badge.svg" alt="">
                        </a>
                    </div>
                </div>
                
                <div class="app-lnk">
                    <p>Université de Saint-Etienne (Jean-Monnet) :</p>
                    <div class="badges">
                        <a class="badge-link" href="https://play.google.com/store/apps/details?id=org.communiquons.cal.stetienne">
                            <img src="{{site.baseurl}}img/google-play-badge.svg" alt="">
                        </a>
                    </div>
                </div>

                <p style="margin-top: 50px;">
                    Vous ne voyez pas votre école / université ? <br />
                    <a href="{{ site.baseurl }}contact" class="btn btn-outline btn-xl">Demandez son ajout !</a>
                </p>
            </div>
        </div>
    </div>
</section>
