<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A votre service</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-secret wow bounceIn text-primary"></i>
                    <h3><a href="{{site.baseurl}}privacy">Confidentialité</a></h3>
                    <p class="text-muted">Vos données ne nous concernent pas, nos applications n'en collectent donc pas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-question-circle wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><a href="{{site.baseurl}}contact">Contact</a></h3>
                    <p class="text-muted">En cas de bug, ou pour obtenir de l'aide, n'hésitez pas à nous contacter !</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3><a href="https://gitlab.com/pierre42100/flutter-univcalendar">Open Source</a></h3>
                    <p class="text-muted">Si vous savez programmez, n'hésitez pas à participer à l'amélioration de ce projet !</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">Nous esp&eacute;rons vous rendre service et vous faire gagner le plus de temps possible !</p>
                </div>
            </div>
        </div>
    </div>
</section>
