<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ site.baseurl }}img/favicon.png" type="image/png">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}vendor/bootstrap/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href="{{ site.baseurl }}googleFonts/fonts.css" type="text/css" />

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="{{ site.baseurl }}vendor/device-mockups/device-mockups.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}css/main.css" type="text/css"> 
    <link href="{{ site.baseurl }}css/new-age.css" rel="stylesheet">
    <link href="{{ site.baseurl }}css/custom.css" rel="stylesheet">

</head>
