<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll home-lnk" href="{{ site.baseurl }}#page-top">Calendriers universitaires</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll home-lnk" href="{{ site.baseurl }}#download">Télécharger</a>
                </li>
                <li>
                    <a class="page-scroll home-lnk" href="{{ site.baseurl }}#features">Fonctionalités</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}privacy">Confidentialité</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
