<!-- jQuery -->
<script src="{{ site.baseurl }}js/jquery.js"></script>

<!-- Bootstrap Core JavaScript
<script src="js/bootstrap.min.js"></script> -->

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}js/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}js/jquery.fittext.js"></script>
<script src="{{ site.baseurl }}js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}js/creative.js"></script>

<!-- jQuery
<script src="{{ site.baseurl }}vendor/jquery/jquery.min.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}js/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="{{ site.baseurl }}js/new-age.min.js"></script>