
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Votre emploi du temps, rien de plus</h2>
                        <p class="text-muted">Découvrez les fonctionalités de notre application dédiée à votre emploi du temps</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup galaxy_s5 portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="{{ site.baseurl }}img/lyon1_portrait_1.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-settings text-primary"></i>
                                    <h3>Configuration facile</h3>
                                    <p class="text-muted">Nous avons tout mis en oeuvre pour que configurer votre calendrier soit un jeu d'enfant</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-refresh text-primary"></i>
                                    <h3>A jour</h3>
                                    <p class="text-muted">A chaque ouverture de l'application, votre emploi du temps se met à jour automatiquement.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-pencil text-primary"></i>
                                    <h3>Personnalisation</h3>
                                    <p class="text-muted">Appropriez-vous votre emploi du temps en personalisant les couleurs du calendrier</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Open Source</h3>
                                    <p class="text-muted">Nous n'avons rien à cacher, le code source de notre application est donc ouvert.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>
