/**
* https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900
* https://fonts.googleapis.com/css?family=Muli
*/

/* latin-ext */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(./S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(./S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* tamil */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 100;
	src: local('Catamaran Thin'), local('Catamaran-Thin'), url(./o-0OIpQoyXQa2RxT7-5jhgRUQ_m87A.woff2) format('woff2');
	unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 100;
	src: local('Catamaran Thin'), local('Catamaran-Thin'), url(./o-0OIpQoyXQa2RxT7-5jhgRMQ_m87A.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 100;
	src: local('Catamaran Thin'), local('Catamaran-Thin'), url(./o-0OIpQoyXQa2RxT7-5jhgRCQ_k.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 200;
	src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url(./o-0NIpQoyXQa2RxT7-5jKhVVctyB1Wk.woff2) format('woff2');
	unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 200;
	src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url(./o-0NIpQoyXQa2RxT7-5jKhVVatyB1Wk.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 200;
	src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url(./o-0NIpQoyXQa2RxT7-5jKhVVZNyB.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 300;
	src: local('Catamaran Light'), local('Catamaran-Light'), url(./o-0NIpQoyXQa2RxT7-5jThZVctyB1Wk.woff2) format('woff2');
	unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 300;
	src: local('Catamaran Light'), local('Catamaran-Light'), url(./o-0NIpQoyXQa2RxT7-5jThZVatyB1Wk.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 300;
	src: local('Catamaran Light'), local('Catamaran-Light'), url(./o-0NIpQoyXQa2RxT7-5jThZVZNyB.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 400;
	src: local('Catamaran Regular'), local('Catamaran-Regular'), url(./o-0IIpQoyXQa2RxT7-5r8zRAW_0.woff2) format('woff2');
	unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 400;
	src: local('Catamaran Regular'), local('Catamaran-Regular'), url(./o-0IIpQoyXQa2RxT7-5r6zRAW_0.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 400;
	src: local('Catamaran Regular'), local('Catamaran-Regular'), url(./o-0IIpQoyXQa2RxT7-5r5TRA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 500;
	src: local('Catamaran Medium'), local('Catamaran-Medium'), url(./o-0NIpQoyXQa2RxT7-5jFhdVctyB1Wk.woff2) format('woff2');
	unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 500;
	src: local('Catamaran Medium'), local('Catamaran-Medium'), url(./o-0NIpQoyXQa2RxT7-5jFhdVatyB1Wk.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 500;
	src: local('Catamaran Medium'), local('Catamaran-Medium'), url(./o-0NIpQoyXQa2RxT7-5jFhdVZNyB.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 600;
	src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'), url(./o-0NIpQoyXQa2RxT7-5jOhBVctyB1Wk.woff2) format('woff2');
	unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 600;
	src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'), url(./o-0NIpQoyXQa2RxT7-5jOhBVatyB1Wk.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 600;
	src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'), url(./o-0NIpQoyXQa2RxT7-5jOhBVZNyB.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 700;
	src: local('Catamaran Bold'), local('Catamaran-Bold'), url(./o-0NIpQoyXQa2RxT7-5jXhFVctyB1Wk.woff2) format('woff2');
	unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 700;
	src: local('Catamaran Bold'), local('Catamaran-Bold'), url(./o-0NIpQoyXQa2RxT7-5jXhFVatyB1Wk.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 700;
	src: local('Catamaran Bold'), local('Catamaran-Bold'), url(./o-0NIpQoyXQa2RxT7-5jXhFVZNyB.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 800;
	src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url(./o-0NIpQoyXQa2RxT7-5jQhJVctyB1Wk.woff2) format('woff2');
	unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 800;
	src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url(./o-0NIpQoyXQa2RxT7-5jQhJVatyB1Wk.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 800;
	src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url(./o-0NIpQoyXQa2RxT7-5jQhJVZNyB.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 900;
	src: local('Catamaran Black'), local('Catamaran-Black'), url(./o-0NIpQoyXQa2RxT7-5jZhNVctyB1Wk.woff2) format('woff2');
	unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 900;
	src: local('Catamaran Black'), local('Catamaran-Black'), url(./o-0NIpQoyXQa2RxT7-5jZhNVatyB1Wk.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 900;
	src: local('Catamaran Black'), local('Catamaran-Black'), url(./o-0NIpQoyXQa2RxT7-5jZhNVZNyB.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* vietnamese */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli Regular'), local('Muli-Regular'), url(./7Auwp_0qiz-afT3GLRrX.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli Regular'), local('Muli-Regular'), url(./7Auwp_0qiz-afTzGLRrX.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli Regular'), local('Muli-Regular'), url(./7Auwp_0qiz-afTLGLQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
