<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include services.html %}
  {% include download.html %}
  {% include feature.html %}

  {% include contact.html %}
  {% include scripts.html %}

  {{ content }}
</body>

</html>
